*.php linguist-detectable=true 
*.js linguist-detectable=true 
*.html linguist-detectable=false 
*.xml linguist-detectable=false
*.css linguist-detectable=false
*.htm linguist-detectable=false
/js/*.js linguist-detectable=false 
